body {
  margin: 0;
  padding: 0;
  background: url( 'band_01.jpg' ) top center no-repeat #111;
  background-size: 100%;
  background-position: 0 -44px;
  border-top: 12px solid rgba( 0, 200, 50, 0.7 );
  border-bottom: 12px solid rgba( 0, 200, 50, 0.7 );
}

div#wrapper {
  margin-top: 720px;
  background: rgba( 1, 1, 1, 0.7 );
  padding: 2em 4em;
}

h1 {
  color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  opacity: 0.99;
  font-size: 42px;
  font-weight: normal;
  font-family: 'Lily Script One';
  margin-bottom: 0;
}

h2, h3, ul, li, p {
  color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  opacity: 0.99;
}

h2 {
  margin-bottom: 0.5em;
}

a {
  color: green;
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

b {
  color: green;
}

div#photo_credit p {
  margin: 1.6em 0 1em 0; 
  opacity: 0.6; 
  font-size: 12px;
}
